/*font-family: 'Secular One', sans-serif;*/
/*font-family: 'Courgette', cursive;*/

body{
    background-color: #161616;
}

.flexbox{
    display: flex;
    height: 90em;
    flex-direction:column;
}

.wrapper h1{
    display:block;
    color: #edf0f1;
    font-family: 'Courgette', cursive;
    font-size: 90px;
    text-align: center;
}

.wrapper p{
    padding-top: 2em;
    display: block;
    text-align: center;
    color: #edf0f1;
    font-family: 'Secular One', sans-serif;
    font-size: 20px;
}

#lol{
    color: #B9D9EB;
    text-decoration: none;
    transition: color 1s;
}

#lol:hover{
    color: red;
}

#imagine{
    opacity: 0;
    color: red;
}