/*font-family: 'Secular One', sans-serif;*/
/*font-family: 'Courgette', cursive;*/

body {
    background-color: #161616;
}

.flexbox {
    display: flex;
    height: 90em;
    flex-direction:column;
}

.wrapper h1 {
    display:block;
    color: #edf0f1;
    font-family: 'Courgette', cursive;
    font-size: 5vw;
    text-align: center;
}

#project {
    color: white;
    display: flex;
    flex-direction: column;
}
.works {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.works > * {
    margin: 1rem;
}

#cwm {
    display: block;
    max-width: 20vw;
    text-align: center;
    padding: 20px 0 20px 0;
    background-color: rgba(0, 136, 169, 0.2);
    cursor: pointer;
}

#cwm h2 {
    font-size: 20px;
}

#cwm img {
    width: 100%;
    padding-top: 1rem;
}

#cwm p {
    font-size: 15px;
}

@media screen and (max-width: 1600px) {
    #cwm {
        max-width: 30vw;
    }
}

@media screen and (max-width: 912px) {

    .wrapper h1 {
        font-size: 7vw;
    }

    #cwm {
        max-width: 40vw;
    }
}

@media screen and (max-width: 600px) {

    .wrapper h1 {
        font-size: 13vw;
    }

    .works {
        flex-direction: column;
    }

    .works > * {
        margin: 3vw auto auto auto;
    }

    #cwm {
        max-width: 80vw;
    }
}

@media screen and (max-width: 280px) {

    .wrapper h1 {
        font-size: 15vw;
    }

}