/*font-family: 'Secular One', sans-serif;*/
/*font-family: 'Courgette', cursive;*/

/*Flexbox*/

.flexbox{
    display:flex;
    flex-direction:column;
    justify-content:center;
}

/*First element*/

.wrapper{
    background-image: url("../pictures/mainbg.webp");
    background-size: cover;
    padding-top: 10em;
    padding-bottom:15em;
}

.wrapper h1{
    display:block;
    color: #edf0f1;
    font-family: 'Courgette', cursive;
    font-size: 90px;
    text-align: center;
}

.wrapper p{
    padding-top: 2em;
    display: block;
    text-align: center;
    color: #edf0f1;
    font-family: 'Secular One', sans-serif;
    font-size: 20px;
}

/*Second element*/

.wrapper2{
    background-image: linear-gradient(#081c2c, #080e14);
    padding-top: 3em;
    padding-bottom: 20em;
}

.wrapper2 h2{
    display: block;
    padding-left: 7em;
    padding-right: 1em;
    padding-top: 2em;
    color: #edf0f1;
    font-family: 'Secular One', sans-serif;
    font-size: 50px;
}

.wrapper2 p{
    display: block;
    position: absolute;
    padding-top: 5em;
    padding-left: 20em;
    padding-right: 1em;
    color: #edf0f1;
    font-family: 'Secular One', sans-serif;
    font-size: 20px;
    max-width: 50em;
}

.wrapper2 img{
    display: block;
    position: relative;
    left: 110em;
    width: 25em;
    height: 25em;
    border-radius: 50%;
}

/*For mobile*/

@media screen and (max-width: 1920px){

    .wrapper2 h2{
        padding-left: 3em;
    }

    .wrapper2 p {
        padding-left: 8em;
        padding-right: 1em;
        max-width: 35em;
    }

    .wrapper2 img{
        left: 65em;
    }
}

@media screen and (max-width: 1580px){

    .wrapper2 img{
        top: 2em;
        left: 60em;
        width: 20em;
        height: 20em;
    }
}

@media screen and (max-width: 1380px){

    .wrapper2 img{
        top: 4em;
        left: 55em;
        width: 15em;
        height: 15em;
    }
}

@media screen and (max-width: 1200px){

    .wrapper2 img{
        top: 6em;
        left: 50em;
        width: 10em;
        height: 10em;
    }
}

@media screen and (max-width: 1030px){
    
    .wrapper2 p{
        padding-top: 1em;
    }

    .wrapper2 img{
        top: 18em;
        left: 20em;
    }
}

@media screen and (max-width: 650px){
    
    .wrapper{
        padding-top: 1em;
        padding-bottom: 10em;
    }
    
    .wrapper h1{
        font-size: 55px;
        padding-top: 1em;
    }

    .wrapper2{
        padding-bottom: 15em;
    }

    .wrapper2 h2{
        padding-left: 2em;
        font-size: 25px;
    }

    .wrapper2 p{
        padding-left: 2em;
        font-size: 15px;
    }

    .wrapper2 img{
        width: 7em;
        height: 7em;
        top: 13em;
        left: 12em;
    }
}

@media screen  and (max-width: 430px){

    .wrapper2 h2{
        padding-left: 1em;
    }

    .wrapper2 p{
        padding-left: 1em;
    }

    .wrapper2 img{
        left: 10em;
    }
}

@media screen and (max-width: 360px){
    
    .wrapper2{
        padding-bottom: 25em;
    }

    .wrapper2 img{
        display: none;
    }
}