body{
	background-color: #333;
}
#mb h3, #ram h3, #psu h3, #cpu h3, #gpu h3, #storage h3, .top, #project{
	font-family: 'Open Sans', sans-serif;
	color: white;
}
#bottom{
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	color: white;
}
#mb p, #ram p, #psu p, #cpu p, #gpu p, #storage p{
	font-family: 'Open Sans', sans-serif;
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
}
#mb ul, #ram ul, #psu ul, #cpu ul, #gpu ul, #storage ul{
	color: white;
	list-style-position: inside;
}
#mb, #ram, #psu, #cpu, #gpu, #storage, .top, #Dbottom, #project{
	text-align: center;
}
#project a{
	font-size: 25px;
	text-decoration: none;
	color: white;
}
#project a:hover{
	background-color: #555;
}