* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 10%;
  background-color: #080e14;
}
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 10%;
  background-color: #080e14;
}

.logo {
  font-family: 'Pushster', cursive;
  font-weight: 400;
  color: #edf0f1;
  font-size:30px;
}

.nav__links a,
.cta,
.overlay__content a,
.socials a, .translate a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
  font-size: 20px;
}

.nav__links li a:hover {
  color: #B9D9EB;
}

.nav__links li a {
  display: inline-block;
  padding-bottom: 0.25rem; /* defines the space between text and underline */
  position: relative;
}

.nav__links li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #0088a9;
  transition: width 0.25s ease-out;
}

.nav__links li a:hover::before {
  width: 100%;
}

.cta {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/*Footer*/

.socials {
  list-style: none;
  
}

.socials li {
  padding: 0px 20px;
  font-size: 15px;
}

.socials li a {
  transition: color 0.3s ease 0s;
}

.socials li a:hover {
  color: #B9D9EB;
}

.translate {
  list-style: none;
  
}

.translate li {
  padding: 0px 20px;
  font-size: 15px;
}

.translate li a {
  transition: color 0.3s ease 0s;
}

.translate li a:hover {
  color: #B9D9EB;
}

.FLhead{
  font-family: 'Pushster', cursive;
  font-weight: 400;
  color:#edf0f1;
}
/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #080e14;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay ul{
  text-decoration: none;
  list-style: none;
}

.overlay ul li{
  text-align: center;
  font-size: 10px;
}

.overlay ul li a {
  font-size: 25px;
}

.overlay span{
  font-family: 'Pushster', cursive;
  font-weight: 400;
  color:#edf0f1;
  font-size: 3em;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus, .overlay ul li a:hover, .overlay ul li a:focus {
  color: #B9D9EB;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
  footer{
    display: none;
  }
}
@media only screen and (max-width: 350px){
    .logo{
        padding-right: 5px;
        font-size:25px;
    }
}
@media only screen and (max-height: 700px){
    .overlay a{
      font-size: 25px;
    }
    .overlay ul li a{
      font-size: 2em;
    }
    .overlay span{
      font-size: 2.5em;
    }
}