.tFont {
	font-family: "Times New Roman";
}
h3 {
	font-family: "Marker Felt", fantasy;
}
.lColor {
	font-family: "Gill Sans", sans-serif;
	color: #32cd32;
}
.reD {
	color: #FF0000;
}
.bluE {
	color: #006ee6;
}
@viewport {
	zoom: 1.0;
	width: extend-to-zoom;
}
#projects{
    color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
#projects a{
    text-decoration: none;
	text-align: center;
    color: black;
    font-family: 'Montserrat', sans-serif;
}