<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Strider Studios</title>
        <meta name="description" content="Content for Strider Studios">
        <meta name="keywords" content="Strider Studios, StriderStudios, Strider, HTML, CSS, JavaScript, Minecraft, Programming, Coding, GitHub, Discord">
        <meta name="author" content="TRStrider">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="pictures/favicon.ico">
        <link rel="stylesheet" href="css/navbar.css">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/project.css">
        <!--FONTS-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preload" href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <link rel="preload" href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <link rel="preload" href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" as="style" onload="this.onload=null; this.rel='stylesheet'">
    </head>
    <body>
        <!--NavBar-->
        <header>
            <span class="logo">Strider Studios</span>
            <nav>
                <ul class="nav__links">
                    <li><a hx-get="/html/home-page-content.html" hx-target="#webpage">Home</a></li>
                    <li><a hx-get="/html/projects.html" hx-target="#webpage">Projects</a></li>
                </ul>
            </nav>
            
            <p class="menu cta" onclick="openOverlay()">Menu</p>
            <div class="overlay">
                <span class="close" onclick="closeOverlay()">&times;</span>
                <div class="overlay__content">
                    <a class="closelink" hx-get="/html/home-page-content.html" hx-target="#webpage" onclick="closeOverlay()">Home</a>
                    <a class="closelink" hx-get="/html/projects.html" hx-target="#webpage" onclick="closeOverlay()">Projects</a>
                    <br>
                    <br>
                    <span>Socials</span>
                    <ul>
                        <li><a href="https://twitter.com/The_RealStrider" target="_blank">Twitter</a></li>
                        <li><a href="https://www.youtube.com/c/TheRealStrider" target="_blank">YouTube</a></li>
                        <li><a href="https://discord.gg/g996zvHDq4" target="_blank">Discord</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <!--END OF NAVBAR-->
        <!--Webpage-->
        <div id="webpage" class="flexbox" hx-get="/html/home-page-content.html" hx-trigger="load"></div>
        <!--NavBar-->
        <footer>
            <span class="logo">Strider Studios</span>
            <nav>
                <ul class="socials">
                    <li class="FLhead">Socials</li>
                    <li><a href="https://twitter.com/The_RealStrider" target="_blank">Twitter</a></li>
                    <li><a href="https://www.youtube.com/c/TheRealStrider" target="_blank">YouTube</a></li>
                    <li><a href="https://discord.gg/g996zvHDq4" target="_blank">Discord</a></li>
                </ul>
            </nav>
        </footer>
        <!--HTMX-->
        <script src="JS/htmx.min.js" defer></script>
        <script>
            const overlay = document.querySelector('.overlay');
            function openOverlay() {
                overlay.classList.add('overlay--active');
            }
            function closeOverlay() {
                overlay.classList.remove('overlay--active');
            }
        </script>
    </body>
</html>