.tFont {
	font-family: Florence;
}
h3 {
	font-family: "Marker Felt", fantasy;
}
.lColor {
	font-family: "Gill Sans", sans-serif;
	color: #32cd32;
}
.reD {
	color: #FF0000;
}
.bluE {
	color: #006ee6;
}
